footer
    div.container.footer-wrapper
        div.footer-logos
            a(href="/")
                img( src='/images/logo_200x200.png')
            div.logo-container
                a(href="/")
                    img.logos( src='/images/facebook_logo.png')
                a(href="/")
                    img.logos( src='/images/youtube_logo.png')
                a(href="/")
                    img.logos( src='/images/twitter_logo.png')
                a(href="/")
                    img.logos( src='/images/instagram_logo.png')                                                           
                

        div.footer-about-us About Us
        div.footer-information About Us
        div.footer-other
            p © Hey-Neighbor.com 2023 All rights reserved

