footer
    div.container.footer-wrapper
        div.footer-logos
            a(href="/")
                img( src='/images/logo_200x200.png')
            div.logo-container
                a(href="/")
                    img.logos( src='/images/facebook_logo.png')
                a(href="/")
                    img.logos( src='/images/youtube_logo.png')
                a(href="/")
                    img.logos( src='/images/twitter_logo.png')
                a(href="/")
                    img.logos( src='/images/instagram_logo.png')                                                           
                

        div.footer-about-us
            h4 About Us
            ul
                p 
                    a(href='') History
                p 
                    a(href='') Our Mission
                p 
                    a(href='') Jobs &amp; Careers
                p 
                    a(href='') Shops
                p 
                    a(href='') Contact Us
        div.footer-information
            h4 Information
            ul
                p
                    a(href='') FAQ 
                p
                    a(href='') Accessability 
                p
                    a(href='') Terms &amp; Conditions
        div.footer-other
            p © Hey-Neighbor.com 2023 All rights reserved

