header
  div.container.header-wrapper
    a(href="/")
      img( src='/images/logo_200x200.png')
    nav
      ul
        a(href="/Bakery") 
          h3 Bakery
        a(href="/Fish")
          h3 Fish
        a(href="/Meat")
          h3 Meat
        a(href="/Vegetables")
          h3 Vegetables
        a(href="/Water and Juices")
          h3 Water and Juices
        a(href="/Beer and Wine")
          h3 Beer and Wine