header
  div.container.header-wrapper
    a(href="/")
      img( src='/images/logo_200x200.png')
    nav
      ul
        a(href="/Bakery") Bakery
        a(href="/Fish") Fish
        a(href="/Meat") Meat
        a(href="/Vegetables") Vegetables
        a(href="/Water and Juices") Water and Juices
        a(href="/Wine") Wine