extends layout

block content
  div.categories-container.container
    each category in categories
      div.category-card
        a.parent-size(href = category.url)
        img.item-image(src=category.imageLocation)
        div.category-card-title
          h3= category.name