extends item 

block itemDetail
  div.delete-update
    form(method= "GET" action=`${item.url}/delete`)
      button.button(type=submit) Delete
    form(method= "GET" action=`${item.url}/update`)
      button.button(type=submit) Update