doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/meyer-reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/helper.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap', rel='stylesheet')
  body
    header
      div.container.header-wrapper
        a(href="/")
          img( src='/images/logo_200x200.png')
        nav
          ul
            a(href="/Bakery") Bakery
            a(href="/Fish") Fish
            a(href="/Meat") Meat
            a(href="/Vegetables") Vegetables
            a(href="/Water and Juices") Water and Juices
            a(href="/Wine") Wine


    block content
    footer
