.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.medium-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.parent-size {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.above-parent {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -6rem);
}

.button {
  display: block;
  background-color: #ffe3e395;
  padding: 1rem 2rem;
  margin: 1.6rem;
  border-radius: 1rem;
  border: 1px #495057 solid;
}

.button:hover {
  cursor: pointer;
}

.bigger-p {
  font-size: 2rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-align-top {
  align-items: top !important;
}

.no-margin-top {
  margin-top: 0;
}

.left {
  padding-left: auto;
}

.no-wrap {
  flex-wrap: nowrap;
}
