/* 
BackGround Color: #ffe3e3 Red1

Grey: #495057

*/

html {
  font-size: 62.5%;
  color: #495057;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

.main-container {
  min-height: 100vh;
  position: relative;
}

a,
p {
  font-size: 1.2rem;
  color: #495057;
}

h2 {
  font-size: 4.2rem;
  font-weight: 400;
  margin: 6.4rem 0 3rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

h4 {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
}

/****************************************************************************/
/* HEADER */

header {
  height: 12rem;
  background-color: #ffe3e3;
}

.header-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: left;
}

nav {
  flex: auto;
  background-color: #ffe3e3;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  transition: all 0.2s;
}

nav a:hover {
  color: red;
}

a {
  text-decoration: none;
}

/****************************************************************************/
/* FOOTER */

footer {
  margin-top: 10rem;

  background-color: #ffe3e3;
  font-size: 1.6rem;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3rem;
  column-gap: 5rem;
  padding: 4rem 0 1rem 0;
}

.footer-logos {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.footer-about-us p,
.footer-information p {
  margin-bottom: 1rem;
}
.footer-other {
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;

  font-size: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.logo-container a {
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  width: 4rem;
}

/****************************************************************************/
/* Category Index */

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 4rem 4rem;
}
.category-card {
  position: relative;
  overflow: hidden;

  box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  transition: transform 0.2s;
}

.category-card:hover {
  transform: scale(1.1);
}

.category-card a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.category-card-title {
  background-color: #ffe3e395;
  padding: 1rem 2rem;
  border-radius: 1rem;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -2rem);
}

.category-card h3 {
  text-align: center;
}

/****************************************************************************/
/* ITEM INDEX */

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 4rem;

  position: relative;
}

.items-container h2 {
  position: absolute;
}

.item-card {
  background-color: #ffe3e3;
  border: 1px #495057 solid;
  border-radius: 2rem;
  box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.5);
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
}

.item-name {
  text-align: center;
  margin: 0 0.4rem;
}

.item-image-container {
  margin: 3rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

.price-tag {
  padding: 1.6rem 0;
  text-align: center;
}

.price-tag h3 {
  font-size: 3.2rem;
  padding: 0.8rem;
  color: black;
}

/****************************************************************************/
/* ITEM */

.item {
  border: 1px #495057 solid;
  background-color: #ffe3e395;
  border-radius: 1rem;
  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .image-container {
  position: relative;
  width: 350px;
  height: 350px;
}

.image-container--item {
  padding: 5rem 3rem 0 0;
}

.item-main {
  padding-left: 3rem;
  padding-bottom: 5rem;
}

.item-main h3 {
  margin: 2rem 0 1rem;
}

.item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****************************************************************************/
/* ITEM DELETE */

.delete-update {
  display: flex;
}

/****************************************************************************/
/* ITEM UPDATE/CREATE */

.categories-radio {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem 0;
}
.units-radio {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem 0;
}

#description-input {
  resize: none;
  width: 100%;
}

/****************************************************************************/
/* IMAGE DISPLAY */

.image-container {
  width: 500px;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-image {
  width: 100%; /* Set the width to match the parent div */
  height: 100%; /* Set the height to match the parent div */
  object-fit: contain; /* Scale the image to fit within the parent div while maintaining its aspect ratio */
}
